body {
    font-family: 'Open Sans', sans-serif;
    background: #EEF5FF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

.sidebar {
    position: fixed;
    height: 100vh;
    min-width: 80px;
    width: 6.25%;
    background: #B4D4FF;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
}

.sidebar.expanded {
    width: 18.75%;
}

.sidebar .expand-container,
.sidebar,
.new-chat-container,
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.expand-container {
    position: absolute;
    left: 1.6em;
    top: 1em;
}

.new-chat-container {
    position: absolute;
    left: 1.1em;
    top: 7em;
}

.chat-history-container {
    position: absolute;
    display: none;
    left: 1.6em;
    top: 12em;
}

.chat-history-container > p {
    font-weight: bold;
    padding-left: 8px;
}

.chat-history-item {
    margin-top: 0.6em;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.chat-history-item > a {
    vertical-align: middle;
    text-decoration: none;
    color: #333;
    padding: 4px 8px;
}

.chat-history-item > a:hover {
    background: #c2dcff;
    color: #000000;
    border-radius: 8px;
}


.help-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 5.25em;
    left: 1.6em;
}

.settings-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 2em;
    left: 1.68em;
}

.sidebar .toggle-btn {
    background: #B4D4FF;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.collapsed-icon,
.expanded-icon {
    width: 30px;
    height: 30px;
    margin-top: 1em;
}

.new-chat-collapsed {
    width: 42px;
    height: 42px;
}

.new-chat-expanded {
    height: 42px;
    display: none;
}

.help {
    width: 32px;
    height: 32px;
}

.settings {
    width: 30px;
    height: 30px;
}

.help-description,
.settings-description {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0.1em 0 0 0.3em;
    display: none;
}

.expanded-icon {
    display: none;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 12em;
}

.title {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0;
}

.subtitle {
    font-size: 1.5em;
    color: #666;
}

.hidden {
    display: none;
}

.chat-section {
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
    max-width: 1100px;
    padding: 20px;
    height: calc(100vh - 200px);
    overflow-y: auto;
    /*border: 1px solid #ccc;*/
    border-radius: 8px;
    /*background-color: #f9f9f9;*/
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

#chat-section::-webkit-scrollbar {
    width: 12px;
}

#chat-section::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#chat-section::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

#chat-section::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chat-message {
    padding: 10px;
    border-radius: 16px;
    font-size: 17px;
}

.user-message {
    background-color: #B4D4FF;
    align-self: flex-end;
}

.robot-image {
    margin-right: 10px;
}

.gemini-message-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.gemini-message {
    background-color: #328bff;
    display: flex;
    align-self: flex-start;
    border-radius: 10px;
}

.error-message {
    background-color: #ffcccc;
    border: 1px solid #ff6666;
    border-radius: 10px;
    padding: 10px;
    color: #800000;
    font-weight: bold;
    max-width: 60%;
    word-wrap: break-word;
    margin: 5px 0;
    display: inline-block;
}


.input-section {
    width: 100%;
    margin-top: auto;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}

.input-box {
    background-color: #B4D4FF;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 1rem;
    width: 60%;
    max-width: 42em;
    display: flex;
    align-items: center;
}

.input-box input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 20px;
    color: #333;
}

.input-box button {
    background: none;
    border: none;
    cursor: pointer;
}

.input-box img {
    vertical-align: middle;
}

.convert-to-form {
    width: 24px;
    height: 24px;
}

.attach-file {
    width: 30px;
    height: 30px;
}

.send-prompt {
    width: 30px;
    height: 30px;
}

.delete-chat {
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    margin-top: 5px;
}

.tutorial-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tutorial-header h1 {
    margin: 0;
    font-size: 24px;
}

.tutorial-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.712);
    z-index: 1000;
    overflow-y: auto;
    display: none;
}

.tutorial-content {
    margin: 2em auto;
    width: 80%;
    max-width: 800px;
    background-color: #B4D4FF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.tutorial-content h1, .tutorial-content h2 {
    color: #333;
}

.tutorial-content ul, .tutorial-content ol {
    margin-left: 20px;
}

.tutorial-content pre {
    background-color: #B4D4FF;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}

.close-btn {
    display: block;
    margin: 20px auto 0;
    background-color: transparent;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 440px;
    padding: 5px;
    font-size: 20px;
}
