__pycache__/
*.py[cod]
*$py.class

*.so

.DS_Store

.env
*.env
*.venv
venv/
ENV/
env/
.env.*
pip-log.txt
pip-delete-this-directory.txt

*.sqlite3

/compressed/
/CACHE/

settings_local.py
settings_secret.py
local_settings.py

.ipynb_checkpoints

.vscode/

.idea/

.coverage
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

*.log
*.pot
*.pid
*.seed
*.pid.lock

*.egg-info/
*.eggs/
.eggs/

build/
dist/
*.egg
*.manifest
*.spec

*.o
*.pyc
*.pyo

cython_debug/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.orig
Dockerfile
docker-compose.yml
.docker/

pgdata/
mysql-data/

*.env.local